<html>
	
	<body bgcolor="#00bdfc">
		
		
		<br> <br> <br> <br> <br>
		
		
		<table align='center'>
		<tr>
			<td> <h1 align='center'   style='color:yellow'> Please select the individual type </h1></td>
		</tr>
		<tr>
			<td><h4 > <a  href="/order/products.html">First Gen Enterpreneur </a> </h4> </td>
		</tr>
		<tr>
		    <td><h4 > <a  href="/order/products.html"> Family Business Owner </a></h4> </td>
		</tr>
		<tr>
		    <td><h4 ><a  href="/order/products.html"> Professional </a> </h4> </td>
		</tr>
		<tr>
		    <td><h4 ><a  href="/order/products.html"> NRI </a></h4> </td>
		</tr>
		<tr>
		    <td><h4 ><a  href="/order/products.html"> Students </a></h4> </td>
		</tr>
		</table>
		
    </body>
	
</html>